<div class="container-fluid content">
	<div class="row">
		<div ng-if="!weather" class="col-xs-12 centerpage">
			<h3>Search weather information with city name</h3>
		</div>
	</div>
	<div class="row" ng-if="forecast">
		<div class="col-xs-12">
			<hr>
			<h1>Next 5 days:</h1>
		</div>
		<table class="table">
			<tbody>
				<tr>
					<th>Time</th>
					<th>Temp</th>
					<th>Weather</th>
				<tr>
				<tr ng-repeat="day in forecast.list">
					<td>{{day.dt_txt}}</td>
					<td>{{day.main.temp}}&deg;</td>
					<td>{{day.weather[0].description}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>